	 body{
				 font-family: Arial,sans-serif;
				 margin:0;
			 }
			 
			 *{
			 padding:0;
			 box-sizing: border-box;
			 scroll-behavior: smooth;
			 }
			 
			 
			 .container {
    width: 90%;
    margin: 20px auto;
    background-color: white;
    border:1px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,.15);
}
			 .inline {
			 display: inline;
			 justify-content: space-between;
				 background: white;
				 color:darkblue;
			 }
			 .flex{
				 display: flex;
				 background: white;
				 color:darkblue;
			 }
			
			h1 {
			color: darkblue;
			}
			 h2 {
				 color:darkblue;
			 }
			 h3 {
				 color: darkred; 
			 }
			h4 {
				color:blue;
			}
						 header {
	display: flex;
	flex-wrap: wrap;
	 justify-content: space-between;
				
}
			footer {
			display: flex;
			flex-wrap: wrap;
				background: gray;
				color:white;
				width:95%;
				height:20px;
				margin:auto;
				padding:3px;
				border-radius:10px;
				text-align: center;
				font-size: 10px;
			}
  .language-box {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: 5px;
   width: fit-content;
   padding: 5px;
   border: 2px solid darkblue;
   border-radius: 10px;
   background-color: white;
  }
  
 .language-box a {
  text-decoration: none;
    color: darkblue;
    font-weight: bold;
    padding: 8px 14px;
    border-radius: 5px;
    margin:5px;
    }
    
    .language-box a:hover {
    background-color: darkblue;
    color: white;
       text-align:center;
    gap:5px;
    padding:5px auto;

}

.language-box .active {
    background-color: darkblue;
    color: white;
 }

 .box { 
  text-decoration: none;
    color: blue;
  font-size:bold;
    }
 .box:hover {
    color: gold;
}

 .red {
 color:red;
 }
 .d-g {
	color:darkgreen
 }
  .p-h {
  color:darkred;
  font-size: 2em;
 
 }
 
 .footer2 {
			display: flex;
			flex-wrap: wrap;
				background: gray;
				color:white;
				width:95%;
				margin:20px auto;
				padding:20px;
				border-radius:10px;
				font-size: 12px;
			}


 .code-box {
        background: gray;
    color: #f9fafb;
    padding: 16px;
    border-radius: 10px;
    overflow-x: auto;
    font-family: Consolas, Monaco, "Courier New", monospace;
    border: 1px solid #374151;
  }

  .code-box code {
    font-family: inherit;
  }