	 body{
				 font-family: Arial,sans-serif;
				 margin:0;
			 }
			 
			 .container {
    width: 90%;
    margin: 20px auto;
    background-color: white;
    border:1px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,.15);
}
			 .inline {
			 display: inline;
			 justify-content: space-between;
				 background: white;
				 color:darkblue;
			 }
			 .flex{
				 display: flex;
				 background: white;
				 color:darkblue;
			 }
			
			h1 {
			color: darkblue;
			}
			 h2 {
				 color:darkblue;
			 }
			 h3 {
				 color: darkred; 
			 }
			h4 {
				color:blue;
			}
						 header {
	display: flex;
	flex-wrap: wrap;
	 justify-content: space-between;
				
}
			footer {
			display: flex;
			flex-wrap: wrap;
				background: gray;
				color:white;
				width:95%;
				height:20px;
				margin:auto;
				padding:3px;
				border-radius:10px;
				text-align: center;
				font-size: 10px;
			}
  .language-box {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: 5px;
   width: fit-content;
   padding: 5px;
   border: 2px solid darkblue;
   border-radius: 10px;
   background-color: white;
  }
  
 .language-box a {
  text-decoration: none;
    color: darkblue;
    font-weight: bold;
    padding: 8px 14px;
    border-radius: 5px;
    }
    
    .language-box a:hover {
    background-color: darkblue;
    color: white;
}

.language-box .active {
    background-color: darkblue;
    color: white;
}

 .box { 
  text-decoration: none;
    color: blue;
  font-size:bold;
    }
 .box:hover {
    color: gold;
}

 .red {
 color:red;
 }
  .p-h {
  color:darkred;
  font-size: 2em;
 
 }
 
 .footer2 {
			display: flex;
			flex-wrap: wrap;
				background: gray;
				color:white;
				width:95%;
				height:40px;
				margin:auto;
				padding:5px;
				border-radius:10px;
				font-size: 12px;
			}
 
